body {
  font-family: "Manrope", sans-serif;
  background-color: #b3b3b4;
}

.top-heading {
  font-weight: bold;
  font-size: 24px;
}

.user-input {
  /* -webkit-appearance: none; */
  outline: none;
  /* background-color: blueviolet; */

  /* display: block; */
  font-weight: 600;
  /* width: 100%; */
  /* margin: 2%; */
}

.user-input::placeholder {
  color: #000000;
  /* border: none; */
  /* cursor: pointer; */
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s ease all;
}
.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s ease all;
}

nav {
  background-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa {
  /* font-size: 25px !important; */
}

input {
  padding-top: 3px;
  padding-bottom: 3px;
}

.main-header {
  font-size: 28px;
  font-weight: 600;
}

.setting-dropdown .dropdown-item {
  color: blueviolet;
}

.setting-dropdown li {
  min-width: 150px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.setting-dropdown li span {
  color: blueviolet;
}

.profile-image {
  max-width: 100px;
  max-height: 100px;
  text-align: center;
  border-radius: 50%;
  background-color: blueviolet;
  color: white;
}

.btn-primary {
  background-color: blueviolet !important;
}

.name {
  font-weight: 700;
}

.card-body p {
  /* color: blueviolet; */
}

.setting-box {
  -webkit-box-shadow: 20px 29px 50px -39px rgba(0, 0, 0, 1);
  -moz-box-shadow: 20px 29px 50px -39px rgba(0, 0, 0, 1);
  box-shadow: 20px 29px 50px -39px rgba(0, 0, 0, 1);
  background-color: #e6e6e6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 12px 10px 12px 5px;
}

.setting-active {
  background-color: blueviolet !important;
  color: white;
  font-weight: bold;
}

/* Update profile setting */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  background-color: #f1f1f1;
}

.collapsible-content form {
  padding: 20px 0px;
}

.collapsible-content form label {
  font-weight: 800;
}

.collapsible-content form .update-input {
  padding: 10px;
  box-shadow: 5px 5px 5px #16161681;
  border-radius: 20px;
  margin: 10px 0px;
}
